/* General styling */
body, html {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: Arial, sans-serif;
  overflow-y: scroll;
}

/* Main container for the entire app */
.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header styling */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Content container that holds the image and text */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* Image styling */
.art-image-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.art-image-container img {
  max-width: 100%;
  max-height: 800px;
  width: auto;
  height: auto;
  display: block;
}

/* Text container styling */
.art-details {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-top: 200px; /* Adjust this as needed for desktop */
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.artist-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  line-height: 1.5;
}

/* Caption styling */
.caption {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Mobile adjustments for screens less than 600px */
@media (max-width: 600px) {
  .art-details {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-top: 10px; /* Adjust this as needed for mobile */
  }

/* Image container styling */
.art-image-container {
  width: 100%;
  margin-bottom: 20px; /* Space between image and text */
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Dynamically adjust height based on the image */
}

.art-image-container img {
  max-width: 100%;
  height: auto; /* Ensure the image scales correctly */
  display: block;
}
}